<div id="contact" class="bg-primary">
    <div class="max-w-2xl px-4 py-16 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col items-center justify-center w-full text-center gap-y-3 lg:gap-y-6">
            <h2 class="text-xl font-proxima lg:text-[30px] text-gray-4">Ενδιαφέρεστε για κάποια υπηρεσία;</h2>
            <p class="text-sm lg:text-lg text-gray-4">Επικοινωνήστε μαζί μας στην ηλεκτρονική διεύθυση: <a href="mailto:info@avramidisvisuals.gr" class="text-white font-unineueBold">info@avramidisvisuals.gr</a></p>
        </div>
    </div>
</div>