<div class="overflow-hidden">
    <div class="relative bg-gray-2">
        <img src="media/backdrop-a.svg" class="absolute z-10 h-full right-8 top-12">
        <div class="relative z-20 grid max-w-2xl grid-cols-1 px-4 py-16 mx-auto divide-y-2 lg:max-w-7xl lg:divide-y-0 lg:grid-cols-4 lg:divide-x-2 divide-gray-4">
            <div class="hidden w-full h-full px-8 py-4 lg:block">
                <img src="media/white-logo.svg" alt="Avramidis Visuals Logo" class="w-full h-full">
            </div>
            <div class="flex flex-col justify-start gap-3 px-8 py-4 lg:justify-center">
                <div class="flex items-center justify-start gap-3">
                    <img src="media/mail.svg" alt="Email icon">
                    <a class="text-lg text-gray-4 lg:text-lg" href="mailto:info@avramidisvisuals.gr">info@avramidisvisuals.gr</a>
                </div>
                <div class="flex items-center justify-start gap-3">
                    <img src="media/phone.svg" alt="Phone icon">
                    <a class="text-lg text-gray-4 lg:text-lg" href="tel:6986637560">698 663 7560</a>
                </div>
            </div>
            <div class="flex flex-col justify-center col-span-2 gap-3 px-8 py-4">
                <p class="text-lg lg:text-lg font-unineueRegular text-gray-4">Γραφιστικές υπηρεσίες<br>Φωτογραφικές υπηρεσίες</p>
                <h5 class="text-lg lg:text-lg font-unineueBold text-gray-4">Πολιτική απορρήτου</h5>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center p-8 text-sm bg-gray-1">
        <p class="text-gray-4">© 2024 - Designed by: Avramidis Visuals | Developed by: <a href="https://github.com/teobourloglou" target="_blank">@teobourloglou</a></p>
    </div>
</div>