<div id="branding" class="bg-gradient-to-tl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-6 py-12 mx-auto sm:max-w-4xl lg:max-w-7xl lg:px-8">
        <h2 class="font-proxima text-white text-[22px] py-6 text-center mx-auto sm:mx-0 sm:w-full md:text-left lg:text-3xl">Σχεδιασμός εταιρικής<br class="visible sm:hidden">οπτικής ταυτότητας</h2>
        <div class="grid grid-cols-1 gap-x-12 gap-y-6 md:grid-cols-2">
            <img src="media/photos/brand_identity_design.png" class="w-full col-span-1" alt="">
            <div class="col-span-1 text-gray-4">
                <p class="text-sm lg:text-lg font-unineueRegular">Η εταιρική ταυτότητα αποτελεί την εικόνα μιας επιχείρησης και <span class="text-white font-unineueBold">είναι αναγκαία ανεξάρτητα από το μέγεθος και τον τομέα δραστηριότητας της.</span> Αποτελεί το θεμέλιο για την δημιουργία μιας σωστής αντίληψης για την επιχείριση σας, αντανακλά το ύφος, την δυναμική της και <span class="text-white font-unineueBold">την κάνει να ξεχωρίζει.</span></p>
                <br>
                <h4 class="py-4 text-lg text-white lg:text-xl font-unineueBold">Δημιουργώντας το brand</h4>
                <p class="text-sm lg:text-lg font-unineueRegular">Η διαδικασία ξεκινά πάντα με τον <span class="text-white font-unineueBold">σχεδιασμό του λογοτύπου</span>, το οποίο καθορίζει την εικόνα των υπόλοιπων στοιχείων. <br>Τα υπόλοιπα βασικά στοιχεία είναι η χρωματική παλέτα, οι εταιρικές γραμματοσειρές, τα γραφικά ή τα εταιρικά μοτίβα που χρησιμοποιούνται σε διάφορες εφαρμογές μια εταιρείας (συσκευασίες προϊόντων, διαφημίσεις, έντυπα, διαφημιστικές καμπάνιες κ.α.).</p>
            </div>
        </div>
        <p class="mt-8 text-sm lg:text-lg font-unineueRegular text-gray-4">Μια ολοκληρωμένη ταυτότητα περιέχει και τις βασικές εφαρμογές του λογοτύπου: την επαγγελματική κάρτα, τους φακέλους αλληλογραφίας και τα επιστολόχαρτα. Επιπρόσθετα, μπορούν να σχεδιαστούν εταιρικά έντυπα (φυλλάδια, μπροσούρες, κατάλογοι κ.α.), εταιρικά folders, banners, εταιρική ένδυση προσωπικού, υπογραφή e-mail, κ.λπ.</p>
        <br>
        <p class="text-sm text-white lg:text-lg font-unineueBold">Όλα αυτά πρέπει να είναι αναγνωρίσιμα και να αποτελούν ένα ενιαίο σύνολο, καθώς εξυπηρετούν την καθημερινή επικοινωνία με συνεργάτες και πελάτες.</p>
        <div class="grid w-full grid-cols-2 gap-4 py-12 mx-auto sm:gap-8 lg:w-4/5 sm:grid-cols-3 md:grid-cols-4">
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/logotype_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Σχεδιασμός λογοτύπου</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/color_palette_creation.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Δημιουργία χρωματικής παλέτας</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/font_family.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Επιλογή εταιρικών οικογενειών γραμμάτων</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/brand_pattern_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Σχεδιασμός εταιρικού μοτίβου</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/business_card_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Σχεδιασμός επαγγελματικής κάρτας</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/folder_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Σχεδιασμός φακέλου αλληλογραφίας</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/letterhead_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Σχεδιασμός επιστολόχαρτου</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <div class="rounded-[20px] lg:rounded-[30px] bg-gray-1 flex flex-col justify-center items-center p-0 w-full aspect-square">
                    <h1 class="text-6xl text-gray-4">+</h1>
                    <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueRegular lg:font-unineueBold">Επιπλέον εφαρμογές και στοιχεία όπως εταιρικά έντυπα, banners, ένδυση προσωπικού κ.α.</span>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-2">
    <div class="relative flex flex-col max-w-2xl px-12 py-12 mx-auto sm:max-w-4xl gap-y-3 sm:gap-y-6 lg:max-w-7xl">
        <h2 class="font-proxima text-white text-[22px] py-6 lg:text-3xl">Τι πλεονεκτήματα προσφέρει το γραφείο σας;</h2>
        <div class="grid w-full grid-cols-1 mx-auto lg:w-4/5 sm:grid-cols-2 gap-x-6 gap-y-4 sm:gap-y-8">
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Αναγνωρισιμότητα</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Το μοναδικό μας design βοηθά στην εύκολη αναγνώριση της επιχείρησης σας από το κοινό της. Αυτό μπορεί να οδηγήσει σε μεγαλύτερη επισκεψιμότητα άρα και περισσότερες πωλήσεις.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Διαφοροποίηση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Με τον προσεκτικό σχεδιασμό μας και την επιμονή στις λεπτομέρειες ξεχωρίζουμε την επιχείρηση σας από τους ανταγωνιστές στην αγορά, προσδίδοντας σας μοναδικότητα.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Αίσθηση αξιοπιστίας</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Δημιουργώντας μια ομοιόμορφη εικόνα για την επιχείρηση σας, βοηθάμε να ενισχυθεί η αξιοπιστία και η εμπιστοσύνη των πελατών σας.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Αισθητική σύνδεση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Με εργαλείο την οπτική επικοινωνία, οικοδομούμε το brand σας που συνδέει και οδηγεί τους πελάτες στην συνεχή επιλογή των προϊόντων/υπηρεσιών που προσφέρετε.</p>
            </div>
        </div>
    </div>
</div>