<div class="bg-gradient-to-l from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-4 py-12 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="font-unineueBold text-white text-[22px] py-6 lg:text-3xl">Σχεδιασμός εταιρικής οπτικής ταυτότητας</h2>
        <div class="grid grid-cols-2 gap-x-6">
            <img src="media/placeholder.png" class="w-full col-span-1" alt="">
            <div class="col-span-1 text-gray-4">
                <p class="text-lg font-unineueRegular">Η εταιρική ταυτότητα ααποτελεί την εικόνα μιας επιχείρησης και <span class="text-white font-unineueBold">είναι αναγκαία ανεξάρτητα από το μέγεθος και τον τομέα δραστηριότητας της.</span> Αποτελεί το θεμέλιο για την δημιουργία μιας σωστής αντίληψης για την επιχείριση σας, αντανακλά το ύφος, την δυναμική της και <span class="text-white font-unineueBold">την κάνει να ξεχωρίζει.</span></p>
                <br>
                <h4 class="py-4 text-xl text-white font-unineueBold">Δημιουργώντας το brand</h4>
                <p class="text-lg font-unineueRegular">Η διαδικασία ξεκινά πάντα με τον <span class="text-white font-unineueBold">σχεδιασμό του λογοτύπου</span>, το οποίο καθορίζει την εικόνα των υπόλοιπων στοιχείων. <br>Τα υπόλοιπα βασικά στοιχεία είναι η χρωματική παλέτα, οι εταιρικές γραμματοσειρές, τα γραφικά ή τα εταιρικά μοτίβα που χρησιμοποιούνται σε διάφορες εφαρμογές μια εταιρείας (συσκευασίες προϊόντων, διαφημίσεις, έντυπα, διαφημιστικές καμπάνιες κ.α.).</p>
            </div>
        </div>
        <p class="mt-8 text-lg font-unineueRegular text-gray-4">Μια ολοκληρωμένη ταυτότητα περιέχει και τις βασικές εφαρμογές του λογοτύπου: την επαγγελματική κάρτα, τους φακέλους αλληλογραφίας και τα επιστολόχαρτα. Επιπρόσθετα, μπορούν να σχεδιαστούν εταιρικά έντυπα (φυλλάδια, μπροσούρες, κατάλογοι κ.α.), εταιρικά folders, banners, εταιρική ένδυση προσωπικού, υπογραφή e-mail, κ.λπ.</p>
        <br>
        <p class="text-lg text-white font-unineueBold">Όλα αυτά πρέπει να είναι αναγνωρίσιμα και να αποτελούν ένα ενιαίο σύνολο, καθώς εξυπηρετούν την καθημερινή επικοινωνία με συνεργάτες και πελάτες.</p>
        <div class="grid w-4/5 gap-5 py-12 mx-auto lg:grid-cols-4">
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Σχεδιασμός λογοτύπου</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Δημιουργία χρωματικής παλέτας</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Επιλογή εταιρικών οικογενειών γραμμάτων</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Σχεδιασμός εταιρικού μοτίβου</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Σχεδιασμός επαγγελματικής ταυτότητας</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Σχεδιασμός φακέλου αλληλογραφίας</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-2 flex justify-center items-center p-12 w-full aspect-square">
                    <img src="media/graphic-design.svg" alt="" class="w-full">
                </div>
                <div class="flex items-start min-h-14">
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Σχεδιασμός επιστολόχαρτου</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-5">
                <div class="rounded-[30px] bg-gray-1 flex flex-col justify-center items-center p-4 w-full aspect-square">
                    <h1 class="text-6xl text-gray-4">+</h1>
                    <span class="text-lg text-center text-gray-4 font-unineueBold">Επιπλέον εφαρμογές και στοιχεία όπως εταιρικά έντυπα, banners, ένδυση προσωπικού κ.α.</span>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>