<div id="packaging" class="bg-gradient-to-tl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-4 py-12 mx-auto sm:px-6 sm:max-w-4xl lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12">
            <span></span>
            <h2 class="font-proxima text-white text-center md:text-left  text-[22px] py-6 lg:text-3xl">Σχεδιασμός Συσκευασίας</h2>
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-12 md:grid-cols-2">
            <img src="media/photos/label_design.webp" class="w-full col-span-1" alt="">
            <div class="col-span-1 text-gray-4">
                <p class="text-sm lg:text-lg font-unineueRegular">Ο σχεδιασμός συσκευασίας και ετικέτας διαδραματίζει έναν εξαιρετικά σημαντικό ρόλο στην επιτυχία του brand σας καθώς, στον ανταγωνιστικό κόσμος της καταναλωτικής αγοράς, η <span class="text-white font-unineueBold">πρώτη εντύπωση έχει κομβική σημασία.</span> Στην πλειονότητα των περιπτώσεων ο πελάτης καταφεύγει στην αισθητική ενός προϊόντος για να καταλήξει στην επιλογή και αγορά του.</p>
                <br>
                <h4 class="py-4 text-lg text-white lg:text-xl font-unineueBold">Προσαρμοσμένες λύσεις για εσάς</h4>
                <p class="text-sm lg:text-lg font-unineueRegular">Στο γραφείο μας, κατανοούμε ότι κάθε επιχείρηση έχει μοναδικές ανάγκες και αισθητικές προτιμήσεις. Γι' αυτόν τον λόγο, σχεδιάζουμε κάθε ετικέτα και συσκευασία με βάση τις απαιτήσεις, το ύφος και τη στρατηγική της επιχείρησης σας με στόχο <span class="text-white font-unineueBold">την προβολή και ανάδειξη της.</span></p>
                <br>
                <p class="text-sm lg:text-lg font-unineueRegular">Σχεδιάζουμε, κάθε είδους <span class="text-white font-unineueBold">ετικέτες</span> οι οποίες μπορούν να τοποθετηθούν σε οποιοδήποτε προϊόν όπως π.χ. ένα μπουκάλι κρασιού αλλά και <span class="text-white font-unineueBold">ολόκληρες συσκευασίες</span> όπως π.χ. ένα κουτί γάλατος.</p>
            </div>
        </div>
        <div class="grid w-full grid-cols-2 gap-4 py-12 mx-auto sm:gap-8 lg:w-4/5 sm:grid-cols-3 md:grid-cols-4">
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/label_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός ετικέτας</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/box_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός κουτιού</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/bag_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός τσάντας</span>
            </div>
            <div class="flex flex-col items-center justify-between gap-y-2 sm:gap-y-5">
                <div class="rounded-[20px] lg:rounded-[30px] bg-gray-1 flex flex-col justify-center items-center p-0 w-full aspect-square">
                    <span class="text-xs font-bold text-center lg:text-lg text-gray-4 font-unineueBold">Μια όμορφη συσκευασία <span class="text-primary font-unineueBold">δημιουργεί</span> εντυπώσεις, <span class="text-primary font-unineueBold">προσελκύει</span> πελάτες, <br><span class="text-primary font-unineueBold">χτίζει</span> εμπιστοσύνη!<br><br>Μην την υποτιμάτε!</span>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-2">
    <div class="relative flex flex-col max-w-2xl px-12 py-12 mx-auto gap-y-3 sm:gap-y-6 sm:px-6 sm:max-w-4xl lg:max-w-7xl">
        <h2 class="font-proxima text-white text-[22px] py-6 lg:text-3xl">Τι πλεονεκτήματα προσφέρει το γραφείο σας;</h2>
        <div class="grid w-full grid-cols-1 mx-auto sm:grid-cols-2 lg:w-4/5 lg:max-w-6xl gap-x-6 gap-y-4 sm:gap-y-8">
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Πρώτη εντύπωση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Το μοναδικό μας design βοηθά στην εύκολη αναγνώριση της επιχείρησης σας από το κοινό της. Αυτό μπορεί να οδηγήσει σε μεγαλύτερη επισκεψιμότητα άρα και περισσότερες πωλήσεις.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Προσέλκυση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Τα έντυπα με τον εντυπωσιακό σχεδιασμό μας, τραβούν το ενδιαφέρον του κοινού και τους κάνουν να αναζητήσουν περισσότερες πληροφορίες.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Αποτελεσματικότητα</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Καλά σχεδιασμένα έντυπα μπορούν να αυξήσουν την αποτελεσματικότητα των διαφημιστικών καμπανιών, καθώς προσελκύουν περισσότερο το κοινό.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Ενίσχυση του brand</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Ένα συνεκτικό σχεδιασμό εντύπων μπορεί να ενισχύσει την αναγνωρισιμότητα της μάρκας και να διατηρήσει συνεπή την εικόνα της.</p>
            </div>
        </div>
    </div>
</div>