<div id="printing" class="bg-gradient-to-bl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-6 py-12 mx-auto sm:max-w-4xl lg:max-w-7xl lg:px-8">
        <h2 class="font-proxima text-white text-[22px] md:text-left text-center py-6 lg:text-3xl">Σχεδιασμός εντύπων</h2>
        <div class="grid grid-cols-1 gap-y-6 gap-x-12 md:grid-cols-2">
            <div class="order-2 col-span-1 text-gray-4 lg:order-1">
                <p class="text-sm lg:text-lg font-unineueRegular">Στη σύγχρονη εποχή της ψηφιακής επανάστασης, ο γραφιστικός σχεδιασμός εντύπων (print design) διατηρεί την αξία και τη σημαντικότητα του ως ένα από τα <span class="text-white font-unineueBold">πιο δημοφιλή και αποτελεσματικά μέσα προβολής στον κόσμο της διαφήμισης.</span></p>
                <br>
                <p class="text-sm lg:text-lg font-unineueRegular">Μέσω του print design, δημιουργούμε μια πληθώρα εντύπων που καλύπτουν κάθε ανάγκη ενός επιχειρηματικού περιβάλλοντος: καταλόγους προϊόντων, διαφημιστικά φυλλάδια, μονόφυλλα, δίπτυχα, τρίπτυχα, εταιρικά έντυπα, μενού, αφίσες, banner, αυτοκόλλητα, εισιτήρια, φυλλάδια stand, και πολλά άλλα.</p>
                <br>
                <p class="text-sm text-white lg:text-lg font-unineueBold">Επιμελούμαστε και τη φωτογράφηση και τον δημιουργικό σχεδιασμό των εντύπων και έτσι επιτυγχάνουμε το καλύτερο δυνατό οπτικό αποτέλεσμα!</p>
            </div>
            <img src="media/photos/flyers_posters_design.webp" class="order-1 w-full lg:ml-auto lg:w-[80%] col-span-1 lg:order-2" alt="">
        </div>
        <div class="grid w-full grid-cols-2 gap-4 py-12 mx-auto sm:gap-8 lg:w-4/5 sm:grid-cols-3 md:grid-cols-4">
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/poster_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός αφίσας</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/flyer_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός φυλλαδίου (flyer)</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/leaflet_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός καταλόγου (leaflet)</span>
            </div>
            <div class="flex flex-col items-center justify-start gap-y-2 sm:gap-y-5">
                <img src="media/svgs/sticker_design.svg" alt="" class="w-full">
                <span class="text-xs text-center lg:text-lg text-gray-4 font-unineueBold">Σχεδιασμός αυτοκόλλητου</span>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-2">
    <div class="relative flex flex-col max-w-2xl px-12 py-12 mx-auto gap-y-3 sm:gap-y-6 sm:px-6 sm:max-w-4xl lg:max-w-7xl">
        <h2 class="font-proxima text-white text-[22px] py-6 lg:text-3xl">Τι πλεονεκτήματα προσφέρει το γραφείο σας;</h2>
        <div class="grid w-full grid-cols-1 mx-auto lg:w-4/5 sm:grid-cols-2 gap-x-6 gap-y-4 sm:gap-y-8">
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Επιτυχής επικοινωνία</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Μέσω του σχεδιασμού εντύπων από την Avramidis Visuals, των οπτικών ερεθισμάτων που επιτυγχάνουμε, μεταδίδουμε με αποτελεσματικότητα το μήνυμα σας στο κοινό.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Κέντριση ενδιαφέροντος</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Ο εντυπωσιακός σχεδιασμός που προσφέρουμε, τραβάει το ενδιαφέρον του κοινού και να το κάνει να αναζητήσει περισσότερες πληροφορίες για εσάς.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Καινοτομία</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Κατά τον σχεδιασμό των εντύπων χρησιμοποιούμε νέες δημιουργικές ιδέες τις οποίες οπτικοποιούμε αμβλύνοντας έτσι την πελατειακή ακρόαση του ανταγωνιστή.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold font-bold text-lg lg:text-[22.5px]">Αποτελεσματική προώθηση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Ενισχύουμε την αποτελεσματικότητα των προωθητικών δραστηριοτήτων σας, καθώς με τη δύναμη της εικόνας, προσελκύουμε νέους πελάτες.</p>
            </div>
        </div>
    </div>
</div>