<div class="bg-gray-4" x-data="{ activeSlide: 1, slideCount: 3 }">
    <div class="relative max-w-2xl px-4 py-12 mx-auto sm:max-w-4xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="relative max-w-3xl mx-auto lg:right-[15%]">
            <p class="text-sm lg:text-lg">
                Στην εποχή της ψηφιακής επικοινωνίας και της έντονης ανταγωνιστικότητας, οι γραφιστικές υπηρεσίες αποτελούν κρίσιμο στοιχείο για την επιτυχία μιας επιχείρησης, μιας μάρκας ενός οργανισμού.<br><br>Η εταιρεία μας δεσμεύεται να παρέχει υψηλής ποιότητας γραφιστικές υπηρεσίες που <span class="font-unineueBold">ξεχωρίζουν για τη δημιουργικότητα και την μοναδικότητα τους.</span>
            </p>
        </div>
        <img src="media/svgs/question-arrow.svg" class="hidden lg:block absolute top-10 right-[15%]" alt="Arrow">
    </div>
    <div id="g-services-container" class="flex justify-between px-4 py-12 overflow-scroll no-scrollbar flex-nowrap sm:px-6 gap-x-8 lg:px-8">
        <div style="scroll-snap-align: center;" class="bg-gray-3 rounded-[36px] lg:rounded-[50px] p-12 flex flex-col items-center md:ml-[5%] ml-[10%] md:items-start gap-y-4 max-w-[80%] min-w-[80%] w-[80%] md:max-w-[45%] md:min-w-[45%] md:w-[45%]">
            <h3 class="text-center md:text-left lg:text-2xl font-unineueBold">Σχεδιασμός εταιρικής ταυτότητας</h3>
            <p class="text-sm lg:text-lg">Η εταιρική ταυτότητα είναι η <span class="font-uniueueBold">οπτική "προσωπικότητα"</span> μιας επιχείρησης, ο συνδυασμός γραφικών στοιχείων που την κάνουν να ξεχωρίζει από το πλήθος και να μένει αξέχαστη και αξιόπιστη στα μάτια των ανθρώπων...</p>
            <a href="#branding" class="inline-block w-48 lg:w-64 px-5 py-2.5 text-sm lg:text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl bg-primary">
                <span class="relative whitespace-nowrap inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                    Μάθετε περισσότερα
                </span>
            </a>
        </div>
        <div style="scroll-snap-align: center;" class="bg-gray-3 rounded-[36px] lg:rounded-[50px] p-12 flex flex-col items-center md:items-start gap-y-4 max-w-[80%] min-w-[80%] w-[80%] md:max-w-[45%] md:min-w-[45%] md:w-[45%]">
            <h3 class="text-center md:text-left lg:text-2xl font-unineueBold">Σχεδιασμός εντύπων</h3>
            <p class="text-sm lg:text-lg">Τα έντυπα αποτελούν <span class="font-uniueueBold">ένα από τα πιο δραστικά μέσα προβολής και διαφήμισης</span> και σε συνδυασμό με την δημιουργικότητα μας επιτυγχάνουμε πολλαπλά οφέλη που ενισχύουν την εικόνα του brand σας...</p>
            <a href="#printing" class="inline-block w-48 lg:w-64 px-5 py-2.5 text-sm lg:text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl bg-primary">
                <span class="relative whitespace-nowrap inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                    Μάθετε περισσότερα
                </span>
            </a>
        </div>
        <div style="scroll-snap-align: center;" class="bg-gray-3 rounded-[36px] lg:rounded-[50px] p-12 flex flex-col items-center md:items-start md:mr-[5%] mr-[10%] gap-y-4 max-w-[80%] min-w-[80%] w-[80%] md:max-w-[45%] md:min-w-[45%] md:w-[45%]">
            <h3 class="text-center md:text-left lg:text-2xl font-unineueBold">Σχεδιασμός εταιρικής ταυτότητας</h3>
            <p class="text-sm lg:text-lg">Η εταιρική ταυτότητα είναι η οπτική "προσωπικότητα" μιας επιχείρησης, ο συνδυασμός γραφικών στοιχείων που την κάνουν να ξεχωρίζει από το πλήθος και να μένει αξέχαστη και αξιόπιστη στα μάτια των ανθρώπων...</p>
            <a href="#packaging" class="inline-block w-48 lg:w-64 px-5 py-2.5 text-sm lg:text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl bg-primary">
                <span class="relative whitespace-nowrap inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                    Μάθετε περισσότερα
                </span>
            </a>
        </div>
    </div>
</div>