<div class="bg-gray-4">
    <div class="relative max-w-2xl px-4 py-12 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="relative max-w-xl mx-auto right-[10%]">
            <p>
                Στην εποχή της ψηφιακής επικοινωνίας και της έντονης ανταγωνιστικότητας, οι γραφιστικές υπηρεσίες αποτελούν κρίσιμο στοιχείο για την επιτυχία μιας επιχείρησης, μιας μάρκας ενός οργανισμού.<br><br>Η εταιρεία μας δεσμεύεται να παρέχει υψηλής ποιότητας γραφιστικές υπηρεσίες που <span class="font-unineueBold">ξεχωρίζουν για τη δημιουργικότητα και την μοναδικότητα τους.</span>
            </p>
        </div>
        <img src="media/question-arrow.svg" class="absolute top-10 right-[15%]" alt="Arrow">
    </div>
    <div class="flex justify-between px-4 py-12 overflow-scroll no-scrollbar flex-nowrap sm:px-6 gap-x-8 lg:px-8">
        <template x-for="i in 5">
            <div class="bg-gray-3 rounded-[80px] p-12 flex flex-col items-start gap-y-4 max-w-[45%] min-w-[45%] w-[45%]">
                <h3 class="lg:text-2xl font-unineueBold">Σχεδιασμός εταιρικής ταυτότητας</h3>
                <p class="lg:text-lg">Η εταιρική ταυτότητα είναι η οπτική "προσωπικότητα" μιας επιχείρησης, ο συνδυασμός γραφικών στοιχείων που την κάνουν να ξεχωρίζει από το πλήθος και να μένει αξέχαστη και αξιόπιστη στα μάτια των ανθρώπων...</p>
                <a href="#" class="inline-block w-48 lg:w-64 px-8 py-2.5 text-sm lg:text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl bg-primary">
                    <span class="relative whitespace-nowrap inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                        Μάθετε περισσότερα
                    </span>
                </a>
            </div>
        </template>
    </div>
</div>