<div class="relative isolate px-6 pt-14 overflow-hidden lg:px-8 bg-gradient-to-l from-gray-1 from-70% to-gray-2 max-h-screen min-h-screen">
    <div class="py-32 mx-auto max-w-7xl sm:py-48 lg:py-56">
        <div class="text-center">
            <h1 class="text-4xl sm:text-6xl font-proxima text-gray-4 lg:text-7xl xl:text-9xl">Το brand σας,<br>η <span class="text-primary">υπογραφή</span> μας!</h1>
            <p class="mt-6 text-xl leading-8 lg:text-2xl text-gray-4">Η Avramidis visuals αναλαμβάνει την οπτική εικόνα της εταιρείας σας<br>προσφέροντας γραφιστικές και φωτογραφικές υπηρεσίες</p>
            <div class="flex flex-col items-center justify-center mt-10 gap-y-24">
                <a href="#contact" class="rounded-xl font-unineueBold bg-primary px-5 py-1.5 text-xl text-white hover:bg-gray-4 hover:text-gray-1 transition-colors duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Μιλήστε μαζί μας</a>
                <a href="#services"><img src="media/arrow.svg" alt="down-arrow" class="animate-bounce"></a>
            </div>
        </div>
    </div>
    <img class="absolute -right-[12%] bottom-10 h-[80%] z-10" src="media/backdrop-a.svg" alt="Avramidis Visuals Logo">
</div>
