<div id="events" class="bg-gradient-to-bl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-6 py-12 mx-auto sm:max-w-4xl lg:max-w-7xl lg:px-8">
        <h2 class="font-unineueBold text-white text-[22px] md:text-left text-center py-6 lg:text-3xl">Φωτογραφική κάλυψη εκδηλώσεων</h2>
        <div class="grid grid-cols-1 gap-y-6 gap-x-12 md:grid-cols-2">
            <div class="order-2 col-span-1 text-gray-4 lg:order-1">
                <p class="text-sm lg:text-lg font-unineueRegular">Αποθανατίζουμε και φωτογραφίζουμε ακόμα και τις μικρότερες λεπτομέρειες της εκδήλωσης/event σας με στόχο να αποτυπώσουμε και να προσδώσουμε την αξία που αρμόζει.</p>
                <br><br class="hidden lg:visible">
                <p class="text-sm text-white lg:text-lg font-unineueBold">Κάθε εκδήλωση είναι μοναδική όπως και οι φωτογραφικές ανάγκες της.</p>
                <br><br class="hidden lg:visible">
                <p class="text-sm text-white lg:text-lg font-unineueRegular">Μπορούμε να αναλάβουμε την επαγγελματική φωτογράφηση κάθε είδους εκδήλωσης: συνέδρια, συναυλίες, εταιρικές εκδηλώσεις, εκθέσεις, φιλανθρωπικές εκδηλώσεις, γιορτές κ.α. και να δημιουργήσουμε για εσάς ένα πλούσιο και ποιοτικό υλικό.</p>
                <br><br class="hidden lg:visible">
                <p class="text-sm text-white lg:text-lg font-unineueRegular">Η δημιουργικότητα, η τεχνογνωσία, η συνέπεια και ο επαγγελματισμός είναι κάποιες λέξεις που χαρακτηρίζουν το γραφείο μας και εξασφαλίζουν το βέλτιστο αποτέλεσμα σε κάθε φωτογράφηση μας.</p>
            </div>
            <img src="media/photos/event_photography.jpg" class="order-1 w-full col-span-1 lg:order-2" alt="">
        </div>
    </div>
</div>
<div class="bg-gray-2">
    <div class="relative flex flex-col max-w-2xl px-12 py-12 mx-auto gap-y-6 sm:max-w-4xl lg:max-w-7xl ">
        <h2 class="font-unineueBold text-white text-[22px] py-6 lg:text-3xl">Τι πλεονεκτήματα προσφέρει το γραφείο σας;</h2>
        <div class="grid w-full grid-cols-1 mx-auto lg:w-4/5 sm:grid-cols-2 gap-x-6 gap-y-4 sm:gap-y-8">
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Επαγγελματική εμφάνιση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Βοηθάμε στη δημιουργία μιας πιο εκλεπτυσμένης και επαγγελματικής εμφάνισης για την εκδήλσωη σας, αφήνοντας καλή εντύπωση στους καλεσμένους.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Υψηλής ποιότητα φωτογραφίες</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Προσφέρουμε φωτογραφίες σε υψηλή ανάλυση, γεγονός που κάνει την εκτύπωση και την ψηφιακή διαφήμιση πολύ πιο εύκολη και εντυπωσιακή.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Αποκλειστικότητα</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Τα δικαιώματα χρήσης αυτών των φωτογραφιών είναι αποκλειστικά σε εσάς και μπορείτε να τα χρησιμοποιήσετε σε ψηφιακές πλατφόρμες, κοινωνικά δίκτυα, έντυπα κ.λπ.</p>
            </div>
            <div class="flex flex-col gap-y-2 sm:gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Διαρκής εντύπωση</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Φωτογραφίζουμε πλάνα που αφήνουν μια μόνιμη εντύπωση στους συμμετέχοντες προκαλόντας θετικά συναισθήματα που σχετίζονται με την επωνυμία, τον οργανισμό σας.</p>
            </div>
        </div>
    </div>
</div>