<template x-if="projectFound">
    <div class="sticky flex flex-col divide-y-2 lg:pt-24 top-4 gap-y-6 divide-gray-2">
        <div class="flex flex-col gap-y-3">
            <h3 class="text-xl font-unineueBold" x-text="project.title"></h3>
            <p class="text-lg font-unineueRegular" x-text="project.description1"></p>
            <br>
            <p class="text-lg font-unineueRegular" x-text="project.description2"></p>
            <br>
            <p class="text-lg font-unineueRegular" x-text="project.description3"></p>
        </div>
        <div>
            <div class="grid grid-cols-3 pt-6 gap-x-6">
                <span class="col-span-1 font-unineueBold">Πελάτης</span>
                <span class="col-span-2" x-text="project.client"></span>
            </div>
            <div class="grid grid-cols-3 pt-6 gap-x-6">
                    <span class="col-span-1 font-unineueBold">Υπηρεσία</span>
                    <span class="col-span-2" x-text="project.service"></span>
            </div>
            <div class="grid grid-cols-3 pt-6 gap-x-6">
                <span class="col-span-1 font-unineueBold">Έτος</span>
                <span class="col-span-2" x-text="project.year"></span>
            </div>
        </div>
        <div class="grid grid-cols-3 pt-6 border-black gap-x-6 ">
            <span class="col-span-1 font-unineueBold">Share</span>
            <span class="flex justify-start col-span-2 gap-x-4">
                <img class="size-5" src="media/svgs/facebook.svg" alt="Facebook">
                <img class="size-5" src="media/svgs/instagram.svg" alt="Instagram">
                <img class="size-5" src="media/svgs/linked_in.svg" alt="Linked In">
                <img class="size-5" src="media/svgs/telegram.svg" alt="Telegram">
                <img class="size-5" src="media/svgs/tweeter.svg" alt="Twitter">
            </span>
        </div>
        <div></div>
    </div>
</template>