<div id="products" class="bg-gradient-to-tl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-4 py-12 mx-auto sm:max-w-4xl sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="font-unineueBold text-white text-[22px] py-6 text-center w-2/3 mx-auto sm:mx-0 sm:w-full md:text-left lg:text-3xl">Προϊοντική φωτογράφηση</h2>
        <div class="grid grid-cols-1 gap-x-12 gap-y-6 md:grid-cols-2">
            <img src="media/photos/product_photography.png" class="w-full col-span-1" alt="">
            <div class="col-span-1 text-gray-4">
                <p class="text-sm lg:text-lg font-unineueRegular">Στον κόσμο του εμπορίου, <span class="text-white font-unineueBold">κάθε προϊόν κρύβει μια ιστορία.</span><br>Μία ιστορία που αποκαλύπτει την προέλευση του, την αξία του και τη δεξιοτεχνία στην κατασκευή του. <span class="text-white font-unineueBold">Και αυτή η ιστορία αξίζει να γίνει γνωστή σε κάθε πελάτη.</span></p>
                <br><br>
                <p class="text-sm lg:text-lg font-unineueRegular">Η επαγγελματική φωτογράφηση προϊόντων δεν είναι απλή υπόθεση! Πως θα επιτευχθεί το χρώμα του προϊόντος να ταυτίζεται με αυτό που θα αγοράσει ο πελάτης; Πως θα αναδειχθεί το προϊόν;</p>
                <br><br>
                <p class="text-sm lg:text-lg font-unineueRegular">Αφήστε το γραφείο μας να φωτίσει και να αναδείξει την ιστορία κάθε προϊόντος σας, προσφέροντας μια <span class="text-white font-unineueBold">οπτική εμπειρία που θα μείνει αξέχαστη στους πελάτες σας και δείτε τις πωλήσεις σας να ανεβαίνουν!</span></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-2">
    <div class="relative flex flex-col max-w-2xl px-4 py-12 mx-auto sm:max-w-4xl gap-y-6 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="font-unineueBold text-white text-[22px] py-6 lg:text-3xl">Τι πλεονεκτήματα προσφέρει το γραφείο σας;</h2>
        <div class="grid w-full grid-cols-1 mx-auto lg:w-4/5 sm:grid-cols-2 gap-x-6 gap-y-8">
            <div class="flex flex-col gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Υψηλή ποιότητα</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Φωτογραφίζουμε καθαρά, ευκρινή και εντυπωσιακά πλάνα που αναδεικνύουν την πραγματική αξία των προϊόντων σας με προσήλωση στην λεπτομέρεια.</p>
            </div>
            <div class="flex flex-col gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Πλήρη δικαιώματα χρήσης</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Τα δικαιώματα χρήσης των φωτογραφιών ανήκουν αποκλειστικά σε εσάς. Αυτό διασφαλίζει ότι κανείς άλλος δεν μπορεί να τις χρησιμοποιήσει για οποιονδήποτε σκοπό.</p>
            </div>
            <div class="flex flex-col gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Επαγγελματική επεξεργασία</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Φωτογραφίες που περνούν από προσεκτική επεξεργασία για να διασφαλιστεί η άψογη εμφάνιση τους με τις σωστές φωτιστικές συνθήκες.</p>
            </div>
            <div class="flex flex-col gap-y-3">
                <div class="flex items-center justify-start gap-x-3">
                    <img src="media/svgs/checkmark_icon.svg" alt="" class="scale-90">
                    <h4 class="text-gray-4 font-uniqueBold text-lg lg:text-[22.5px]">Web Optimized</h4>
                </div>
                <p class="text-sm lg:text-lg text-gray-4">Φωτογραφίες κατάλληλες για χρήση σε διάφορες ψηφιακές πλατφόρμες όπως Wordpress, Amazon, Skroutz, BestPrice και πλήθος άλλων.</p>
            </div>
        </div>
    </div>
</div>