<div id="restoration" class="bg-gradient-to-tl from-gray-1 from-70% to-gray-2">
    <div class="relative max-w-2xl px-6 py-12 mx-auto sm:max-w-4xl lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-y-8">
            <h2 class="font-unineueBold text-white text-center md:text-left  text-[22px] py-6 lg:text-3xl">Επεξεργασία/επιδιόρθωση φωτογραφιών</h2>
            <div class="col-span-1 text-gray-4">
                <p class="text-sm lg:text-lg font-unineueRegular">Έχετε μια χαλασμένη φωτογραφία και θέλετε να δείτε πώς φαίνετε διορθωμένη; Έχουν ξεθωριάσει τα χρώματα πάνω της; Είναι μια παλιά επαγγελματική/οικογενειακή φωτογραφία σας θολή και φθαρμένη;</p>
                <br>
                <p class="text-sm lg:text-lg font-unineueRegular">Το γραφείο μας, εξοπλισμένο με τεχνογνωσία στον τομέα, με τον τελευταίας τεχνολογίας επαγγελματικό εξοπλισμό και εμπειρία, παρέχει λύσεις για όλες τις φωτογραφικές σας ανάγκες.</p>
            </div>
            <div class="grid grid-cols-1 gap-y-6 md:gap-x-12 md:grid-cols-3">
                <img src="media/photos/reconstruct_fix_old_picture.jpg" class="w-full col-span-1" alt="">
                <div class="col-span-2 text-gray-4">
                    <h4 class="text-lg text-white lg:text-xl font-unineueBold">Επιδιόρθωση και αποκατάσταση παλαιάς φωτογραφίας</h4>
                    <br>
                    <p class="text-sm lg:text-lg font-unineueRegular">Μπορούμε να επιδιορθώσουμε τις παλιές σας φωτογραφίες και να τις αναδείξουμε, δίνοντας τους μια νέα εμφάνιση. Είτε πρόκειται για φωτογραφίες που έχουν υποστεί φθορές, όπως χαλάσεις, σκισίματα, θολές εικόνες ή και εκτυπώσεις που έχουν παραμορφωθεί λόγω φωτιάς, μπορούμε να τις αποκαταστήσουμε και να τις φέρουμε στην αρχική τους κατάσταση.</p>
                    <br>
                    <p class="text-sm lg:text-lg font-unineueRegular">Επιπλέον, μπορούμε να αφαιρέσουμε κάποια αντικείμενα ή να ρετουσάρουμε την παλιά οικογενειακή/επαγγελματική φωτογραφία σας.</p>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-y-6 md:gap-x-12 md:grid-cols-3">
                <img src="media/photos/recolor_old_picture.png" class="w-full col-span-1" alt="">
                <div class="col-span-2 text-gray-4">
                    <h4 class="text-lg text-white lg:text-xl font-unineueBold">Επιχρωματισμός/επαναχρωματισμός</h4>
                    <br>
                    <p class="text-sm lg:text-lg font-unineueRegular">Ανανεώνουμε τις παλιές σας ασπρόμαυρες εικόνες, προσθέτοντας χρώμα και αίσθηση. Η υπηρεσία μας αναλαμβάνει να μετατρέψει τις ασπρόμαυρες φωτογραφίες σας σε ένα εντυπωσιακό νέο σύνολο εικόνων, αναβιώνοντας τις αναμνήσεις σας με έναν εντελώς διαφορετικό τρόπο.</p>
                    <br>
                    <p class="text-sm lg:text-lg font-unineueRegular">Στον τομέα του επιχρωματισμού φωτογραφιών επιδιώκουμε το απόλυτο ρεαλισμό και την απόδοση των λεπτομερειών, δίνοντας έμφαση στην ποιότητα και την αισθητική.</p>
                </div>
            </div>
            <p class="text-xs lg:text-base text-gray-4 font-unineueRegular">
                Παραπάνω αναφέρθηκαν 2 βασικές ασυνήθιστες ανάγκες για τις οποίες προσφέρουε λύσεις επιδιόρθωσης.
                <br>
                Παρόλα αυτά αν έχετε κάποια άλλη ανάγκη επικοινωνήστε μαζί μας.
            </p>
        </div>
    </div>
</div>