<template x-if="projectFound">
    <div class="flex flex-col pt-24 gap-y-5">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
        <img src="media/placeholder.png" alt="" class="w-full">
    </div>
</template>