<div class="flex flex-col gap-y-5">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
    <img src="media/placeholder.png" alt="" class="w-full">
</div>