<div id="services" class="w-full bg-gray-4 py-24 lg:py-36 px-4 lg:px-8 flex justify-center items-center overflow-hidden">
    <div class="flex flex-col sm:flex-row justify-between sm:justify-center items-center sm:items-stretch gap-6 max-w-3xl">
        <div class="service-item bg-gray-4 rounded-[50px] flex justify-between items-center min-h-full gap-y-4 flex-col w-full sm:w-1/2 max-h-[60%] border-[15px] py-[20px] px-[30px] border-gray-3 sm:z-20">
            <img src="media/graphic-design.svg" alt="Graphic Design Service">
            <h3 class="text-2xl text-gray-1 text-center font-proxima">Γραφιστικές<br>υπηρεσίες</h3>
            <p class="text-gray-2 text-center">Σχεδιασμός λογοτύπων, εντύπων, οπτικών ταυτοτήτων, συσκευασιών, ετικετών κ.α.</p>
            <a href="#" class="rounded-xl font-unineueBold bg-primary px-5 py-2 text-xl text-white hover:bg-gray-4 hover:text-gray-1 transition-color duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Περισσότερα >></a>
        </div>
        <div class="service-item bg-gray-4 rounded-[50px] flex justify-between items-center min-h-full gap-y-4 flex-col w-full sm:w-1/2 max-h-[60%] border-[15px] py-[20px] px-[30px] border-gray-3">
            <img src="media/photography.svg" alt="Photography Service">
            <h3 class="text-2xl text-gray-1 text-center font-proxima">Φωτογραφικές<br>υπηρεσίες</h3>
            <p class="text-gray-2 text-center">Φωτογράφηση εκδηλώσεων, προϊόντων, επεξεργασία φωτογραφιών</p>
            <a href="#" class="rounded-xl font-unineueBold bg-primary px-5 py-2 text-xl text-white hover:bg-gray-4 hover:text-gray-1 transition-color duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Περισσότερα >></a>
        </div>
    </div>
</div>