<div id="services" class="flex items-center justify-center w-full px-4 py-24 overflow-hidden bg-gray-4 lg:py-36 lg:px-8">
    <div class="flex flex-col items-center justify-between max-w-3xl gap-6 sm:flex-row sm:justify-center sm:items-stretch">
        <div class="service-item bg-gray-4 rounded-[50px] flex justify-between items-center min-h-full gap-y-4 flex-col w-full sm:w-1/2 max-h-[60%] border-[15px] py-[20px] px-[30px] border-gray-3 sm:z-20">
            <img src="media/graphic-design.svg" alt="Graphic Design Service" class="ml-[10px]">
            <h3 class="text-2xl text-center text-gray-1 font-proxima">Γραφιστικές<br>υπηρεσίες</h3>
            <p class="text-center text-gray-2">Σχεδιασμός λογοτύπων, εντύπων, οπτικών ταυτοτήτων, συσκευασιών, ετικετών κ.α.</p>
            <a href="#" class="inline-block w-48 px-5 py-1.5 text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl font-unineueBold bg-primary">
                <span class="relative inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                    Περισσότερα
                </span>
            </a>
        </div>
        <div class="service-item bg-gray-4 rounded-[50px] flex justify-between items-center min-h-full gap-y-4 flex-col w-full sm:w-1/2 max-h-[60%] border-[15px] py-[20px] px-[30px] border-gray-3">
            <img src="media/photography.svg" alt="Photography Service" class="ml-[25px]">
            <h3 class="text-2xl text-center text-gray-1 font-proxima">Φωτογραφικές<br>υπηρεσίες</h3>
            <p class="text-center text-gray-2">Φωτογράφηση εκδηλώσεων, προϊόντων, επεξεργασία φωτογραφιών</p>
            <a href="#" class="inline-block w-48 px-5 py-1.5 text-xl text-center text-white transition-all duration-500 cursor-pointer group rounded-xl font-unineueBold bg-primary">
                <span class="relative inline-block transition-all duration-500 cursor-pointer after:content-['\00bb'] after:right-[-10px] after:transition-all after:duration-500 after:absolute after:opacity-0 after:top-0 group-hover:pr-3 group-hover:after:opacity-100 group-hover:right-0">
                    Περισσότερα
                </span>
            </a>
        </div>
    </div>
</div>