<div class="bg-gradient-to-l from-gray-1 from-70% to-gray-2 py-24 sm:py-32">
  <div class="max-w-2xl px-6 mx-auto sm:max-w-4xl lg:max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-3xl lg:text-[45px] font-proxima text-gray-4 relative">
        Γιατί να μας<br class="block sm:hidden">
        <span class="relative">προτιμήσετε;
            <img src="media/svgs/title-underline.svg" class="absolute bottom-0 right-0 hidden duration-1000 -translate-x-6 sm:block sm:scale-105 sm:right-6" x-intersect="$el.classList.remove('-translate-x-6');">
        </span>
        <img src="media/svgs/title-underline.svg" class="absolute -bottom-2 w-1/2 left-[25%] duration-1000 sm:hidden">
      </h2>
    </div>
    <div class="grid max-w-2xl grid-cols-1 mx-auto mt-16 lg:gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 group rounded-[30px] lg:rounded-[38px] pb-10 px-8 hover:bg-primary transition-colors duration-300 hover:border-primary">
        <div class="max-w-xl">
          <div class="relative group">
            <span class="relative z-0 -left-2 -bottom-12 text-8xl lg:text-9xl text-gray-4 opacity-[12%] group-hover:opacity-[17%] transition-opacity duration-300 font-proxima">01</span>
            <h3 class="relative z-10 mt-3 text-lg leading-6 lg:text-2xl font-unineueBold text-gray-4">
              Επικοινωνία
            </h3>
            <p class="z-20 mt-2 text-sm leading-6 lg:text-lg text-gray-4">
              Η αποτελεσματική επικοινωνία διαδραματίζει κρίσιμο ρόλο στην επιτυχή υλοποίηση έργων διαφορετικών μεγεθών και εμβέλειας.
            </p>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 group rounded-[30px] lg:rounded-[38px] pb-10 px-8 hover:bg-primary transition-colors duration-300 hover:border-primary">
        <div class="max-w-xl">
          <div class="relative group">
            <span class="relative z-0 -left-2 -bottom-12 text-8xl lg:text-9xl text-gray-4 opacity-[12%] group-hover:opacity-[17%] transition-opacity duration-300 font-proxima">02</span>
            <h3 class="relative z-10 mt-3 text-lg leading-6 lg:text-2xl font-unineueBold text-gray-4">
              Ποιότητα
            </h3>
            <p class="z-20 mt-2 text-sm leading-6 lg:text-lg text-gray-4">
              Χρησιμοποιούμε επαγγελματικό εξοπλισμό τελευταίας τεχνολογίας που μας βοηθά να παρέχουμε λύσεις υψηλής ποιότητας που αρμόζει στο ύφος της εταιρείας σας.
            </p>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 group rounded-[30px] lg:rounded-[38px] pb-10 px-8 hover:bg-primary transition-colors duration-300 hover:border-primary">
        <div class="max-w-xl">
          <div class="relative group">
            <span class="relative z-0 -left-2 -bottom-12 text-8xl lg:text-9xl text-gray-4 opacity-[12%] group-hover:opacity-[17%] transition-opacity duration-300 font-proxima">03</span>
            <h3 class="relative z-10 mt-3 text-lg leading-6 lg:text-2xl font-unineueBold text-gray-4">
              Οικονομία
            </h3>
            <p class="z-20 mt-2 text-sm leading-6 lg:text-lg text-gray-4">
              Παρέχουμε ένα ευρύ φάσμα εξαιρετικά επωφελών λύσεων προσαρμοσμένων στις συγκεκριμένες ανάγκες σας που ταιριάζουν στο budget σας.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
