<div class="bg-gradient-to-l from-gray-1 from-70% to-gray-2 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-4 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-proxima tracking-tight text-gray-4 sm:text-5xl">
        Γιατί να μας <span class="after:content-[url('../media/title-underline.svg')] relative after:inline-block after:scale-75 after:absolute after:h-full after:w-full after:right-8 sm:after:scale-105 sm:after:right-0 sm:after:-translate-x-6 after:top-[50%] duration-[1500ms]" x-intersect="$el.classList.remove('sm:after:-translate-x-6'); ">προτιμήσετε;</span>
      </h2>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 rounded-xl pb-10 px-8">
        <div class="max-w-xl">
          <div class="group relative">
            <span class="relative -left-2 -bottom-12 z-0 text-9xl text-gray-2 font-proxima">01</span>
            <h3 class="mt-3 relative text-2xl font-unineueBold leading-6 z-10 text-gray-4">
              Επικοινωνία
            </h3>
            <p class="mt-5 text-lg leading-6 z-20 text-gray-4">
              Η αποτελεσματική επικοινωνία διαδραματίζει κρίσιμο ρόλο στην επιτυχή υλοποίηση έργων διαφορετικών μεγεθώ και εμβέλειας.
            </p>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 rounded-xl pb-10 px-8">
        <div class="max-w-xl">
          <div class="group relative">
            <span class="relative -left-2 -bottom-12 z-0 text-9xl text-gray-2 font-proxima">02</span>
            <h3 class="mt-3 relative text-2xl font-unineueBold leading-6 z-10 text-gray-4">
              Ποιότητα
            </h3>
            <p class="mt-5 text-lg leading-6 z-20 text-gray-4">
              Χρησιμοποιούμε επαγγελματικό εξοπλισμό τελευταίας τεχνολογίας που μας βοηθά να παρέχουμε λύσεις υψηλής ποιότητας που αρμόζει στο ύφος και την δυναμικότητα της εταιρείας σας.
            </p>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-start justify-between border-[3px] border-gray-2 rounded-xl pb-10 px-8">
        <div class="max-w-xl">
          <div class="group relative">
            <span class="relative -left-2 -bottom-12 z-0 text-9xl text-gray-2 font-proxima">03</span>
            <h3 class="mt-3 relative text-2xl font-unineueBold leading-6 z-10 text-gray-4">
              Επικοινωνία
            </h3>
            <p class="mt-5 text-lg leading-6 z-20 text-gray-4">
              Η αποτελεσματική επικοινωνία διαδραματίζει κρίσιμο ρόλο στην επιτυχή υλοποίηση έργων διαφορετικών μεγεθώ και εμβέλειας.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
